<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <body style="margin-left:10%">
         <div th:replace="fragments/header :: header">&nbsp;</div>
         <div>
         	<p style="color:red" th:text="${error}"></p>
         </div>
         <div>
         	<p><a th:href="@{/listUsers}">Trở về Home</a></p>
         </div>
        <div th:replace="fragments/footer :: footer">&nbsp;</div>
    </body>
</html>
