<configuration>
	<property name="DEV_HOME" value="logs-demo" />
	<!-- Appender để ghi ra console, sử dụng ConsoleAppender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- Appender để ghi file log từ level info -->
	<appender name="INFO"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<append>true</append>
			<encoder>
				<charset>UTF-8</charset>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			</encoder>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<!-- rollover daily -->
				<fileNamePattern>${DEV_HOME}/%d{yyyy-MM,aux}/INFO/INFO.%d.%i.log
				</fileNamePattern>
				<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<maxFileSize>10MB</maxFileSize>
				</timeBasedFileNamingAndTriggeringPolicy>
			</rollingPolicy>
	</appender>
	<!-- Appender ghi log file level error -->
	<!-- LOG FILE ERROR -->
	<appender name="ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/%d{yyyy-MM,aux}/error/ERROR.%d.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	<!-- <appender name="API-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			rollover daily
			<fileNamePattern>${DEV_HOME}/%d{yyyy-MM,aux}/api/API.%d.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender> -->

	<!-- <appender name="JMS-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			rollover daily
			<fileNamePattern>${DEV_HOME}/%d{yyyy-MM,aux}/jms/JMS.%d.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender> -->
	<!-- LOG FILE INFO -->
	<!-- <appender name="FILE-INFO"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			rollover daily
			<fileNamePattern>${DEV_HOME}/%d{yyyy-MM,aux}/info/INFO.%d.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender> -->
	<!-- LOG FILE ERROR -->
	<!-- <appender name="FILE-ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			rollover daily
			<fileNamePattern>${DEV_HOME}/%d{yyyy-MM,aux}/error/ERROR.%d.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender> -->
	<!-- ensures api data only goes to the api log -->
	<!-- <logger name="api" level="DEBUG" additivity="true">
		<appender-ref ref="API-FILE" />
	</logger> -->
	<!-- Ngoài ra ta có thể log riêng theo name: additivity="true" nếu muốn cũng ghi log vào root-->
	<!-- ensures jms data only goes to the jms log -->
	<!-- <logger name="jms" level="DEBUG" additivity="true">
		<appender-ref ref="JMS-FILE" />
	</logger> -->
	<!-- Tạo appender-ref để sử dụng log root trong hệ thống 
		Tương ứng 1 appender-ref sẽ có một appender đẻ xử lý ref đó, VD như in ra console hoặc ghi ra file
		Trong ví dụ tạo ra 3 appender-ref: STDOUT,ERROR,INFO
		STDOUT: Một appender-ref để hiển thị ra cửa sổ console
		ERROR: Một appender-ref đẻ ghi tất cả error trong hệ thống
		INFO: Để ghi log từ level info-->
	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ERROR"/>
		<appender-ref ref="INFO"/>
		<!-- <appender-ref ref="FILE-INFO" />
		<appender-ref ref="FILE-ERROR" /> -->
	</root>
</configuration>